<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="tk.tourwith.project.code.mapper.CodeMapper">
<!-- 나라검색 					 -->
<select id="selectListByGroupCode" parameterType="String" resultType="Code">

   select CODE_NO, CODE_NM 
   from CMMN_CODE
   where GROUP_CODE = #{group_code}  
	  
</select>

<!-- 지역검색 -->
<select id="selectCodeByPk" parameterType="String" resultType="Code">

   select CODE_NO, CODE_NM 
   from CMMN_CODE
   where CODE_NO = #{code_no}  
	  
</select>

<!-- 	어드민 코드 리스트 -->
<select id="selectCodeList" resultType="Code" parameterType="map">

	select
		CODE_NO
		,CODE_RGSDE
		,CODE_SE
		,CODE_NM
		,GROUP_CODE
		,MNGR
	from CMMN_CODE
where 1=1
		<if test="searchType != null and searchWord != '' "  >
			<if test="searchType == '01'">
				and CODE_NO LIKE CONCAT('%', #{searchWord}, '%')
			</if>			
			<if test="searchType == '02'">
				and CODE_NM LIKE CONCAT('%', #{searchWord}, '%')
			</if>			
		</if>	
	limit #{startRow},#{pageSize}

</select>

<!-- 어드민 페이징 -->

	<select id="codelistCount" resultType="int" parameterType="map">
		select count(CODE_NO)
		from CMMN_CODE
		where 1=1
		<if test="searchType != null and searchWord != '' "  >
			<if test="searchType == '01'">
				and CODE_NO LIKE CONCAT('%', #{searchWord}, '%')
			</if>			
			<if test="searchType == '02'">
				and CODE_NM LIKE CONCAT('%', #{searchWord}, '%')
			</if>			
		</if>	
		
	</select>
	
	<!-- 코드 수정 -->
	<update id="updateCode" parameterType="Code">
		UPDATE CMMN_CODE
			SET
			code_no = #{code_no},
			code_se = #{code_se},
			code_nm = #{code_nm},
			group_code = #{group_code},
			code_rgsde = now()
		WHERE code_no = #{code_no}		
	</update>
	
	<!-- help 코드 불러오기 -->

<!-- <select id="selectByGroupCodeList" parameterType="String" resultType="Code"> -->

<!-- select * -->
<!--    from CMMN_CODE -->
<!--    where GROUP_CODE = #{group_code_01} -->

<!-- </select> -->

<!-- parameterType에서 #{변수 명} 변수값을 받아오겠다 -->

<!-- 	select 가져오겠다 -->
<!-- 	 CODE_NO, CODE_NM 컬럼들의 내용을  -->
<!--    from CMMN_CODE 어디에서?  CMMN 코드 테이블에서 -->
<!--    where  어떤 조건으로? -->
<!--    GROUP_CODE = #{group_code} 그룹코드가 입력된 값과 동일한 애로 -->



 
 </mapper> 

