<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="tk.tourwith.project.member.mapper.CrAuthorMapper">
 					
<select id="selectListByCrNo" parameterType="string" resultType="CrAuthor">

   select a.CR_AUTHOR_NO, a.MB_NO, a.CR_NO, a.AUTHOR_CODE, b.GROUP_CODE as author_group_code 
   from CR_AUTHOR as a, CMMN_CODE as b
   where a.CR_NO = #{cr_no} and a.author_code = b.code_no  
	  
</select>

<select id="selectListByMbNo" parameterType="string" resultType="CrAuthor">

   select a.CR_AUTHOR_NO, a.MB_NO, a.CR_NO, a.AUTHOR_CODE, b.GROUP_CODE as author_group_code 
   from CR_AUTHOR as a, CMMN_CODE as b
   where MB_NO = #{mb_no}  and a.author_code = b.code_no  
	  
	  
</select>

<select id="selectAuthorByMbNoCrNo" parameterType="map" resultType="CrAuthor">

   select a.CR_AUTHOR_NO, a.MB_NO, a.CR_NO, a.AUTHOR_CODE, b.GROUP_CODE as author_group_code
   from CR_AUTHOR as a, CMMN_CODE as b
   where a.MB_NO = #{mb_no} and a.CR_NO = #{cr_no} and a.author_code = b.code_no
  
</select>

<select id="selectListByDe" parameterType="map" resultType="CrAuthor">
	select a.CR_AUTHOR_NO, a.MB_NO, a.CR_NO, a.AUTHOR_CODE, c.GROUP_CODE as author_group_code
	from CR_AUTHOR as a, CREW as b, CMMN_CODE as c
	where a.MB_NO = #{mb_no} and a.CR_NO = b.CR_NO 
	and b.DEL_YN = 'n'
	and c.CODE_NO = a.AUTHOR_CODE
	<if test="depr_de != null and depr_de != '' and arvl_de != null and arvl_de != '' "> 
	   and b.DEPR_DE between #{depr_de} and #{arvl_de}
	   and b.ARVL_DE between #{depr_de} and #{arvl_de}
	</if>
	and c.GROUP_CODE = 'CR_ROLE_REG'
	
</select>

<insert id="insertCrewLeaderIntoCrAuthor" parameterType="CrAuthor">

	<selectKey keyProperty="cr_author_no" resultType="string" order="BEFORE">
  		SELECT NEXT_NO FROM NO_CREAT where TABLENM = 'CR_AUTHOR'
 	</selectKey>
	
	INSERT INTO CR_AUTHOR
	(CR_AUTHOR_NO, MB_NO, CR_NO, AUTHOR_CODE) VALUES (#{cr_author_no}, #{mb_no}, #{cr_no}, 'CR_ROLE_01')

</insert>

<insert id="insertCrewRequestIntoCrAuthor" parameterType="CrAuthor">

	<selectKey keyProperty="cr_author_no" resultType="string" order="BEFORE">
  		SELECT NEXT_NO FROM NO_CREAT where TABLENM = 'CR_AUTHOR'
 	</selectKey>
	
	INSERT INTO CR_AUTHOR
	(CR_AUTHOR_NO, MB_NO, CR_NO, AUTHOR_CODE) VALUES (#{cr_author_no}, #{mb_no}, #{cr_no}, 'CR_ROLE_03')
</insert>

<update id="updateRequestApproved" parameterType="map">

	UPDATE CR_AUTHOR
	SET 
		AUTHOR_CODE = 'CR_ROLE_02'
	WHERE
		MB_NO = #{mb_no}
	AND
		CR_NO = #{cr_no}
		
</update>

<update id="updateRequest" parameterType="map">

	UPDATE CR_AUTHOR
	SET 
		AUTHOR_CODE = 'CR_ROLE_03'
	WHERE
		MB_NO = #{mb_no}
	AND
		CR_NO = #{cr_no}
		
</update>

<update id="updateRequestRefuse" parameterType="map">

	UPDATE CR_AUTHOR
	SET 
		AUTHOR_CODE = 'CR_ROLE_04'
	WHERE
		MB_NO = #{mb_no}
	AND
		CR_NO = #{cr_no}
		
</update>

<update id="updateEventAuth" parameterType="map">

	UPDATE CR_AUTHOR
	SET 
		AUTHOR_CODE = 'CR_ROLE_05'
	WHERE
		MB_NO = #{mb_no}
	AND
		CR_NO = #{cr_no}
		
</update>

<update id="updateKickOut1" parameterType="map">

	UPDATE CR_AUTHOR
	SET 
		AUTHOR_CODE = 'CR_ROLE_06'
	WHERE
		MB_NO = #{mb_no}
	AND
		CR_NO = #{cr_no}
		
</update>

<update id="updateKickOut2" parameterType="map">

	UPDATE CR_AUTHOR
	SET 
		AUTHOR_CODE = 'CR_ROLE_07'
	WHERE
		MB_NO = #{mb_no}
	AND
		CR_NO = #{cr_no}
		
</update>

 
 </mapper> 

