<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="tk.tourwith.project.crew.mapper.CrewNoticeMapper">
  
  <!-- 페이징 조회를 위한 쿼리 -->
  <select id="getTotalCnt" resultType="int" parameterType="map">
  	select count(SJ)
  	from CR_NOTICE
  	where DEL_YN = 'n'
  	and CR_NO = ${cr_no}
  	<if test="searchWord != null and searchWord != '' ">
  		<if test="searchType == '01' ">
  			and SJ LIKE CONCAT('%', #{searchWord}, '%')
  		</if>
  		<if test="searchType == '02' ">
  			and CON LIKE CONCAT('%', #{searchWord}, '%')
  		</if>
  		<if test="searchType == '03' ">
  			and CONCAT(SJ,'',CON) LIKE CONCAT('%', #{searchWord}, '%')  		
  		</if>
  	</if>
  </select>
  
  <select id="selectCrewNoticeList" resultType="CrewNotice" parameterType="map">
	  select
		  SJ
			,CON
			,HITCNT
			,REG_DE
			,UPD_DE
			,DEL_YN
			,CR_NO
			,WRTER
			,NOTICE_NO
  	from CR_NOTICE
  	where DEL_YN = 'n'
  	and CR_NO = #{cr_no}
  	<if test="searchWord != null and searchWord != '' ">
  		<if test="searchType == '01' ">
  			and SJ LIKE CONCAT('%', #{searchWord}, '%')
  		</if>
  		<if test="searchType == '02' ">
  			and CON LIKE CONCAT('%', #{searchWord}, '%')
  		</if>
  		<if test="searchType == '03'">
  			and CONCAT(SJ,' ', CON) LIKE CONCAT('%', #{searchWord}, '%')
  		</if>
  	</if>
  	ORDER BY REG_DE DESC
  	<if test="startRow >=0 and endRow > startRow">
  		LIMIT #{startRow},4
  	</if>
  </select>
  
  <select id="selectCrewNotice" resultType="CrewNotice" parameterType="String">
  	select
  		SJ
			,CON
			,HITCNT
			,REG_DE
			,UPD_DE
			,DEL_YN
			,CR_NO
			,WRTER
			,NOTICE_NO
  	from CR_NOTICE
  	where DEL_YN = 'n'
  	and NOTICE_NO = #{notice_no}
  </select>
  
  <insert id="insertCrewNotice" parameterType="CrewNotice">
  
  <selectKey keyProperty="notice_no" resultType="String" order="BEFORE">
  	SELECT NEXT_NO FROM NO_CREAT WHERE TABLENM = 'CR_NOTICE'
  </selectKey>
  
  INSERT INTO CR_NOTICE(
  		SJ
		,CON
		,HITCNT
		,REG_DE
		,UPD_DE
		,DEL_YN
		,CR_NO
		,WRTER
		,NOTICE_NO
  )VALUES(
  	#{sj}
		,#{con}
		,0
		,now()
		,now()
		,'n'
		, #{cr_no} 
		,#{wrter}
		,#{notice_no}
  )
  	
  
  </insert>
  
  <update id="updateCrewNotice" parameterType="CrewNotice">
  	UPDATE CR_NOTICE
  		SET
  		sj = #{sj}
  		,con = #{con}
  		,upd_de = now()
  	WHERE notice_no = #{notice_no}
  </update>
  
  <delete id="deleteCrewNotice" parameterType="CrewNotice">
  	UPDATE CR_NOTICE
  		SET
  		del_yn = 'y'
  	WHERE notice_no = #{notice_no}
  </delete>
  
  <update id="updateHitCnt" parameterType="String">
  	UPDATE CR_NOTICE
  	SET
  		hitcnt = hitcnt + 1
  	WHERE notice_no = #{notice_no}
  </update>
  
  </mapper>