<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="tk.tourwith.project.crew.mapper.CrewEventMapper">
 	
 	<select id="selectCrewEventList" parameterType="map" >
		 SELECT 
		 	EVENT_NO,
		    EVENT_NM,
		    EVENT_CON,
		    BGNDT,
		    ENDDT,
		    CR_NO,
		    REG_DE,
		    UPD_DE,
		    DEL_YN,
		    WRTER,
		    UPDUSR,
		    UPD_POSBL_YN
		FROM CR_EVENT
		where del_yn='n'
 	</select>
 
 
 </mapper>