<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="tk.tourwith.project.tourwith.dao.CrewMapper">
  	
  	<select id="selectCrewList" resultType="Crew" parameterType="map">
  		select
  			  CR_NO
			, CR_SJ
			, THEMA
			, MAIN_COURS
			, DETAIL_TRPLC
			, DEPRDE	
			, ARVLDE	
			, NOW_MALE_NMPR
			, MALE_NMPR	
			, FEMALE_NMPR	
			, NOW_FEMALE_NMPR	
			, PRTXT	
			, REG_DE	
			, UPD_DE	
			, DEL_YN	
			, CR_LEADR_MB_NO	
			, TRPLC_NO
			, RCRIT_STTUS
		from CREW	/* crew table 이름 수정 후 수정 */
		where DEL_YN = 'n'
		
		<if test="category != null and category != ''">
		and TRLC_NO like '#{category}%'
		</if>
		

  	</select>
  	
 </mapper>
