<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="tk.tourwith.project.crew.mapper.CrewMapper">
  					 
  	<select id="selectCrewList" resultType="Crew" parameterType="map">
  		select
  			  CR_NO
			, CR_SJ
			, THEMA
			, MAIN_COURS
			, DETAIL_TRPLC
			, DEPR_DE	
			, ARVL_DE	
<!-- 			, (select count(*) from MEMBER as a CR_AUTHOR as b where b.code_no='CR_ROLE_02' and b.cr_no=#{cr_no} and a.GENDER = '남' ) as NOW_MALE_NMPR -->
			,NOW_MALE_NMPR
			, MALE_NMPR	
			, FEMALE_NMPR	
<!-- 			,(select count(*) from MEMBER as a CR_AHTHOR as b where b.code_no='CR_ROLE_02' and b.cr_no=${cr_no} and a.GENDER = '여' ) as NOW_FEMALE_NMPR	 -->
			,NOW_FEMALE_NMPR
			, PRTXT	
			, REG_DE	
			, UPD_DE	
			, DEL_YN	
			, CR_LEADR_MB_NO	
			, TRPLC_NO
			, RCRIT_STTUS
		from CREW 
		where DEL_YN = 'n'
		
		<!--  검색 -->
		<if test="city != null and city != ''">

		and TRPLC_NO =#{city}
		</if>
		<if test="date != null and date != ''">
		and DEPR_DE >=  STR_TO_DATE(#{date},'%m/%d/%Y')
		</if>

  	</select>

  	<select id="getCrew" resultType="Crew" parameterType="String" >
  		select
  			  CR_NO				<!-- 크루 번호 -->
			, CR_SJ				<!--크루 명 -->
			, THEMA				<!--크루 테마 -->
			, MAIN_COURS		<!-- 주요 코스 -->
			, DETAIL_TRPLC		<!-- 세부 코스 -->
			, DEPR_DE	 		<!-- 출발 날짜 -->
			, ARVL_DE			<!-- 도착 날짜 -->
			, NOW_MALE_NMPR		<!-- 현재 남자 인원 -->
			, MALE_NMPR			<!-- 남자인원 -->
			, FEMALE_NMPR		<!--여자 인원 -->
			, NOW_FEMALE_NMPR	<!-- 현재 여자 인원 -->
			, PRTXT				<!-- 홍보 글 -->
			, REG_DE			<!-- 등록 날짜 -->
			, UPD_DE			<!-- 수정 날짜 -->
			, DEL_YN			<!-- 삭제 여부 -->
			, CR_LEADR_MB_NO	<!-- 크루리더 번호 -->	
			, TRPLC_NO			<!-- 여행지 번호  -->
			, RCRIT_STTUS		<!-- 모집 상태 -->
		from CREW 
		where CR_NO = #{cr_no}
  	</select>
  	
  	<insert id="insertCrew" parameterType="crew">
  	
  		<selectKey keyProperty="cr_no" resultType="string" order="BEFORE">
  		SELECT NEXT_NO FROM NO_CREAT where TABLENM = 'CREW'
 		</selectKey>
 		
  			INSERT INTO CREW
			   (CR_NO, 
				CR_SJ
				THEMA,
				MAIN_COURS
				DETAIL_TRPLC,
				DEPR_DE,
				ARVL_DE,
				NOW_MALE_NMPR,
				MALE_NMPR,
				FEMALE_NMPR,
				NOW_FEMALE_NMPR,
				PRTXT,
				REG_DE,
				UPD_DE,
				DEL_YN,
				CR_LEADR_MB_NO,
				TRPLC_NO,
				RCRIT_STTUS)
				VALUES
			   (concat('CR_',#{cr_no}),
				#{cr_sj},
				#{thema},
				#{main_cours},
				#{detail_trplc},
				#{depr_de},
				#{arvl_de},
				#{now_male_nmpr}, /* gender of login user must be considered */
				#{male_nmpr},
				#{female_nmpr},
				#{now_female_nmpr},
				#{prtxt},
				date(),
				date(),
				'n',
				#{cr_leadr_mb_no},
				#{trplc_no},
				#{rcrit_sttus}
				)
  		
  	</insert>
  	
  	<update id="updateCrew" parameterType="crew">
  			UPDATE CREW
			SET
			CR_NO = #{cr_no},
			CR_SJ = #{cr_sj},
			THEMA = #{thema},
			MAIN_COURS = #{main_cours},
			DETAIL_TRPLC = #{detail_trplc},
			DEPR_DE = #{depr_de},
			ARVL_DE = #{arvl_de},
			NOW_MALE_NMPR = #{now_male_nmpr},
			MALE_NMPR = #{male_nmpr},
			FEMALE_NMPR = #{female_nmpr},
			NOW_FEMALE_NMPR = #{now_female_nmpr},
			PRTXT = #{prtxt},
			UPD_DE = now(),
			CR_LEADR_MB_NO = #{cr_leadr_mb_no},
			TRPLC_NO = #{trplc_no},
			RCRIT_STTUS = #{rcrit_sttus}
			WHERE CR_NO = #{cr_no}
  	</update>
  	
  	<update id="deleteCrew" parameterType="map">
  			UPDATE CREW
  			SET
  			DEL_YN = 'y'
  			WHERE CR_NO=#{cr_no}
  	</update>
  	
  	
  	</mapper>
 