<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="tk.tourwith.project.faq.mapper.FaqMapper">
	
	<!-- 페이징 조회를 위한 쿼리 -->
	<select id="getTotalCnt" resultType="int" parameterType="map" >
		select count(SJ)
		from FAQ
		where DEL_YN = 'n'
		<if test="searchWord != null and searchWord != '' ">
			<if test="searchType == '01'">
				and SJ LIKE CONCAT('%', #{searchWord}, '%')	/* subject */
			</if>
			<if test="searchType == '02'">
				and CON LIKE CONCAT('%', #{searchWord}, '%')	/* content */
			</if>
			<if test="searchType == '03'">
				and CONCAT(SJ, ' ', CON) LIKE CONCAT('%', #{searchWord}, '%')
				/* subject + content */
			</if>
		</if>

		
		
	</select>
	
	<!-- FAQ 게시판 리스트 매퍼 -->
	<select id="selectFaqList" resultType="Faq" parameterType="map">
		select
		FAQ_NO 
		,SJ
		,REG_DE
		,CON
		,HITCNT
		,UPD_DE
		,DEL_YN
		,REG_MB_NO
		from FAQ
		where DEL_YN = 'n'
		<if test="searchWord != null and searchWord != '' ">
			<if test="searchType == '01'">
				and SJ LIKE CONCAT('%', #{searchWord}, '%')	/* subject */
			</if>
			<if test="searchType == '02'">
				and CON LIKE CONCAT('%', #{searchWord}, '%')	/* content */
			</if>
			<if test="searchType == '03'">
				and CONCAT(SJ, ' ', CON) LIKE CONCAT('%', #{searchWord}, '%')
				/* subject + content */
			</if>
		</if>
		ORDER BY REG_DE DESC
		<if test="startRow >= 0 and endRow > startRow">
			LIMIT #{startRow}, 15
		</if>
		
  	</select>
  	
  	<!-- FAQ 게시판 뷰 -->
  	<select id="selectFaq" resultType="Faq" parameterType="string">
		select
			FAQ_NO 
			,SJ
			,REG_DE
			,CON
			,HITCNT
			,UPD_DE
			,DEL_YN
			,REG_MB_NO
		from FAQ
		where DEL_YN = 'n'
		and FAQ_NO = #{faq_no}
		
  	</select>
  	
  	
  		<!-- FAQ 게시물 작성 -->
  	<insert id="insertFaq" parameterType="Faq">
    
    <selectKey keyProperty="faq_no" resultType="string" order="BEFORE">
      SELECT NEXT_NO FROM NO_CREAT where TABLENM = 'FAQ'
    </selectKey>
    
      INSERT INTO FAQ(
      FAQ_NO
      ,SJ
      ,REG_DE
      ,CON
      ,HITCNT
      ,UPD_DE
      ,DEL_YN
      ,REG_MB_NO)
    VALUES(
      #{faq_no}
      ,#{sj}
      ,now()
      ,#{con}
     		 ,0
      ,now()
      ,'n'
      ,#{reg_mb_no})
    </insert>

  		
  		<!-- FAQ 게시물 수정 -->
  	<update id="updateFaq" parameterType="Faq">
			UPDATE FAQ
				SET
				faq_no = #{faq_no}
				,sj = #{sj}
				,con = #{con}
				,upd_de = now()
			WHERE faq_no = #{faq_no}
		</update>
		
		
		<!-- FAQ 게시물 삭제 -->
		<delete id="deleteFaq" parameterType="Faq">
			UPDATE FAQ
				SET				
				del_yn = 'y'
			WHERE faq_no = #{faq_no}
		</delete>  		
  		
  		<!-- 조회수 -->
  	<update id="updateHitCnt" parameterType="string">
  		UPDATE FAQ
			SET
			 	hitcnt = hitcnt + 1
				WHERE faq_no = #{faq_no}
				
  	</update>
  
  	
 </mapper>