<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="tk.tourwith.project.member.mapper.MemberMapper">
  	
  	
  	<select id="selectMemberList" resultType="Member" parameterType="map">
  	select	
  		MB_NO	
		, NICK	
		, MB_GRAD	
		, FB_ID	
		, FB_TKN
		, REG_DE	
		, UPD_DE	
		, DEL_YN	
		, GENDER
		, BIRTHDAY	
		, TOUR_CNT	
	from  MEMBER
	where DEL_YN = 'n'			
  	</select>
  	
  	<insert id="insertMember" parameterType="Member">
  	
  	<selectKey keyProperty="mb_no" resultType="string" order="BEFORE">
  		SELECT NEXT_NO FROM NO_CREAT where TABLENM = 'MEMBER'
  	</selectKey>
  		
  		INSERT INTO MEMBER
			(MB_NO,
			 NICK,
			 MB_GRAD,
			 FB_ID,
			 FB_TKN,
			 REG_DE,
			 UPD_DE,
			 DEL_YN,
			 GENDER,
			 BIRTHDAY,
			 TOUR_CNT)
			VALUES
			(CONCAT('MB_',#{mb_no}),
				#{nick},
				'E',
				#{fb_id},
				#{fb_tkn},
				now(),
				now(),
				'n',
				#{gender},
				#{birthday},
				0)
	  		
  	</insert>
  	
  	<select id="selectMemberByPK" resultType="Member" parameterType="string">
  	
  	select	
  		MB_NO	
		, NICK	
		, MB_GRAD	
		, FB_ID	
		, FB_TKN
		, REG_DE	
		, UPD_DE	
		, DEL_YN	
		, GENDER
		, BIRTHDAY	
		, TOUR_CNT	
	from  MEMBER
	where DEL_YN = 'n'
	and MB_NO = #{mb_no}
		
  	</select>
  	
  	<select id="selectMemberById" resultType="Member" parameterType="string">
  	
  	select	
  		MB_NO	
		, NICK	
		, MB_GRAD	
		, FB_ID	
		, FB_TKN
		, REG_DE	
		, UPD_DE	
		, DEL_YN	
		, GENDER
		, BIRTHDAY	
		, TOUR_CNT	
	from  MEMBER
	where DEL_YN = 'n'
	and FB_ID = #{fb_id}
		
  	</select>
  	
  	<select id="selectMemberByNick" resultType="Member" parameterType="string">
  	
  	select	
  		MB_NO	
		, NICK	
	from  MEMBER
	where DEL_YN = 'n'
	and NICK = #{nick}
		
  	</select>
  	
  	<update id="deleteMember" parameterType="string">
  	update MEMBER 
  	set
  		DEL_YN = 'y'
  	where MB_NO = #{mb_no}
  	
  	</update>
  	
  	<update id="updateMember" parameterType="Member">
  	
  		update MEMBER
  		set
  			  GENDER = #{gender}
  			, BIRTHDAY = #{birthday}
  			, FB_TKN = #{fb_tkn}
  			, UPD_DE = now()
  			
  		where FB_ID = #{fb_id}
  		
  	</update>
  	
  	<update id="updateTourCnt" parameterType="string">
  		update MEMBER
  		set 
  			TOUR_CNT = TOUR_CNT + 1
  		where MB_NO = #{mb_no}
  	</update>
  	
  	
 </mapper>