<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="tk.tourwith.project.rev.mapper.RevMapper">
  		
  		<!-- 페이징 조회를 위한 쿼리 -->
  	<select id="getTotalCnt" resultType="int" parameterType="map" >
  		select count(SJ)
  		from REV
  			where DEL_YN = 'n'
  		<if test="searchWord != null and searchWord != '' ">
				<if test="searchType == '01'">
					and SJ LIKE CONCAT('%', #{searchWord}, '%')	/* subject */
				</if>
				<if test="searchType == '02'">
					and CON LIKE CONCAT('%', #{searchWord}, '%')	/* content */
				</if>
				<if test="searchType == '03'">
					and CONCAT(SJ, ' ', CON) LIKE CONCAT('%', #{searchWord}, '%')
					/* subject + content */
				</if>
			</if>
  	</select>
  		
  	<!-- REV 게시판 리스트 매퍼 -->
  	<select id="selectRevList" resultType="Rev" parameterType="map">
  		select
  			a.REV_NO
				,a.SJ
				,a.REV_WRITNG_MB_NO
				,c.NICK as rev_writng_mb_nm
				,a.DEL_YN
				,a.HITCNT
				,a.CR_NO
				,d.CODE_NM as trplc_no 
				,(b.MALE_NMPR + b.FEMALE_NMPR) as nmpr
				,b.DEPR_DE
				,b.ARVL_DE
				,a.CON
				,a.REG_DE
				,a.UPD_DE
				,(select count(e.REV_RPLY_NO) from REV_RPLY as e where e.REV_NO = a.REV_NO ) as replyCnt
			from REV as a, CREW as b, MEMBER as c, CMMN_CODE as d
			where a.DEL_YN = 'n'
			and a.CR_NO = b.CR_NO
			and a.REV_WRITNG_MB_NO = c.MB_NO
			and b.TRPLC_NO = d.CODE_NO
			<if test="searchWord != null and searchWord != '' ">
				<if test="searchType == '01'">
					and a.SJ LIKE CONCAT('%', #{searchWord}, '%')
				</if>
				<if test="searchType == '02'">
					and a.CON LIKE CONCAT('%', #{searchWord}, '%')
				</if>
				<if test="searchType == '03'">
					and CONCAT(a.SJ, ' ', a.CON) LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</if>
		ORDER BY a.REG_DE DESC
		<if test="startRow >= 0 and endRow > startRow">
			LIMIT #{startRow}, 15
		</if>
  	</select>
 		
 		<!-- REV 게시판 뷰 -->
  		<select id="selectRev" resultType="Rev" parameterType="string">
  				select
	  			REV_NO
					,SJ
					,REV_WRITNG_MB_NO
					,DEL_YN
					,HITCNT
					,CR_NO
					,CON
					,REG_DE
					,UPD_DE
				from REV
				where DEL_YN = 'n'
				and REV_NO = #{rev_no}
  		</select>
  		
  		
  		<!-- REV 게시물 작성 -->
  		<insert id="insertRev" parameterType="Rev">
  		<selectKey keyProperty="rev_no" resultType="string" order="BEFORE">
  			SELECT NEXT_NO FROM NO_CREAT where TABLENM = 'REV'
  		</selectKey>
		
			INSERT INTO REV(
				REV_NO
				,SJ
				,REV_WRITNG_MB_NO
				,DEL_YN
				,HITCNT
				,CR_NO
				,CON
				,REG_DE
				,UPD_DE
				)
			VALUES(
				#{rev_no}
				,#{sj}
				,#{rev_writng_mb_no}
				,'n'
				,0
				,1
				,#{con}
				,now()
				,now()
				)
  		</insert>
  		
  		<!-- REV 게시물 수정 -->
  		<update id="updateRev" parameterType="Rev">
  		UPDATE REV
				SET
				rev_no = #{rev_no}
				,sj = #{sj}
				,cr_no = 1
				,con = #{con}
				,upd_de = now()
			WHERE rev_no = #{rev_no}
  		
  		</update>
  		
  		<!-- REV 게시물 삭제 -->
  		<delete id="deleteRev" parameterType="Rev">
  		UPDATE REV
  			SET
  			del_yn = 'y'
  		WHERE rev_no = #{rev_no}
  		</delete>
  		
  			<!-- 조회수 -->
  		<update id="updateHitCnt" parameterType="string">
  			UPDATE REV
  			SET
  				hitcnt = hitcnt + 1
  			WHERE rev_no = #{rev_no}
  		</update>

  		
  </mapper>