<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
	<setting name="callSettersOnNulls" value="true"/>
</settings>

<typeAliases>

<typeAlias type="tk.tourwith.project.member.model.Member" alias="Member"/>
<typeAlias type="tk.tourwith.project.crew.model.Crew" alias="Crew"/>
<typeAlias type="tk.tourwith.project.code.model.Code" alias="Code"/>
<typeAlias type="tk.tourwith.project.rev.model.Rev" alias="Rev"/>
<typeAlias type="tk.tourwith.project.rev.model.RevReply" alias="RevReply"/>
<typeAlias type="tk.tourwith.project.faq.model.Faq" alias="Faq"/>
<typeAlias type="tk.tourwith.project.util.file.model.File" alias="File"/>
<typeAlias type="tk.tourwith.project.help.model.Help" alias="Help"/>
<!-- <typeAlias type="tk.tourwith.project.reply.crew.model.CrewReply" alias="CrewReply"/> -->
<!-- <typeAlias type="tk.tourwith.project.reply.review.model.ReviewReply" alias="ReviewReply"/> -->
</typeAliases>


</configuration>